// Caminho onde vai ficar o detalhe
<a href="#"> 
  <div class="place-info-box">
    <span class="place-info-box-icon"><img [src]="produto.imagePath" /></span>

    <div class="place-info-box-content">
      <span class="place-info-box-text">{{produto.descricao}}</span>
      <span class="place-info-box-star"><i class="fa fa-dollar-sign"></i>{{produto.preco}}</span>
      <span class="place-info-box-detail">{{produto.categoria}}</span>
      <span class="place-info-box-detail">{{produto.validade}}</span>
    </div>
    <!-- /.info-box-content -->
  </div>
</a>